<ion-header class="ion-no-border">
  <ion-toolbar color="dark" class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gerenciar Alunos</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="background-gradient"></div>

  <!-- Lista de Alunos -->
  <ion-list lines="none" class="ion-margin-top student-list" >
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>Alunos Ativos</ion-label>
        <ion-badge slot="end" color="success">{{studentsLength}}</ion-badge>
      </ion-item-divider>

      <ion-item *ngFor="let student of students; let i = index"  >
        <ion-avatar slot="start" (click)="studentDetails(student.id)">
          <img src="" alt="Avatar">
        </ion-avatar>
        <ion-label (click)="studentDetails(student.id)">
          <h2>{{student.name}}</h2>
          <p *ngIf="student.last_training">Último treino: {{student.last_training  |  date: 'dd/MM/yyyy' }}</p>
          <p *ngIf="!student.last_training">Sem treino registrado</p>
        </ion-label>
        <ion-buttons slot="end">

          <ion-button (click)="abrirMenu(student.id)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>

        </ion-buttons>


      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- Botão Adicionar Aluno -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
