<ion-header class="ion-no-border">
  <ion-toolbar color="dark" class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Estado de carregamento -->
  <div class="loading-container" *ngIf="isLoading">
    <ion-spinner name="crescent" color="warning"></ion-spinner>
    <p>Carregando seu treino...</p>
  </div>

  <!-- Mensagem de erro -->
  <div class="error-container" *ngIf="!isLoading && error">
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <p>{{ error }}</p>
    <ion-button (click)="loadActiveWorkout()" fill="outline" color="warning" size="small">
      Tentar novamente
    </ion-button>
  </div>

  <!-- Card do treino (clicável) -->
  <ng-container *ngIf="!isLoading && !error && workout">
    <div class="card-container">
      <ion-card class="workout-card" [routerLink]="['/pupil/starting-training', workoutId]">
        <div class="card-content">
          <ion-card-title class="workout-title">{{ workout.title }}</ion-card-title>
          <ion-card-subtitle class="workout-date">Válido até: {{ workout.validate_to | date:'dd/MM/yyyy' }}</ion-card-subtitle>
          <ion-card-subtitle class="workout-date">Parcela Atual: {{ workout.last_parcel}}</ion-card-subtitle>
          <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
        </div>
        <div class="instructions">
          <p>Ir ao treino</p>
        </div>
      </ion-card>
    </div>

    <!-- Informações adicionais -->
    <div class="info-section">
      <h2 class="info-title">Detalhes do Treino</h2>

      <div class="info-card">
        <div class="info-item">
          <ion-icon name="barbell-outline"></ion-icon>
          <div class="info-text">
            <span class="info-label">Nível</span>
            <span class="info-value">{{ workout.level || 'Intermediário' }}</span>
          </div>
        </div>


        <div class="info-item">
          <ion-icon name="calendar-outline"></ion-icon>
          <div class="info-text">
            <span class="info-label">Criado em</span>
            <span class="info-value">{{ workout.created_at | date:'dd/MM/yyyy' }}</span>
          </div>

        </div>
        <div class="info-item">
          <ion-icon name="calendar-outline"></ion-icon>
          <div class="info-text">
            <span class="info-label">Descrição</span>
            <span class="info-value">{{ workout.notes}}</span>
          </div>

        </div>
      </div>


    </div>
  </ng-container>
</ion-content>
