/* Arquivo de estilos global */
/* Estilos que serão aplicados a toda a aplicação */

/* Estilos de tema escuro para a aplicação */
:root {
  --ion-color-primary: #dfc282;
  --ion-color-primary-rgb: 223, 194, 130;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c4ab72;
  --ion-color-primary-tint: #e2c88f;

  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
}

/* Estilos para inputs */
ion-input, ion-select {
  --background: rgba(255, 255, 255, 0.05);
  --color: var(--ion-color-light);
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
}

/* Estilos para botões */
ion-button {
  --border-radius: 10px;
  font-weight: 500;
}

/* Estilos para cards */
ion-card {
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: rgba(30, 30, 30, 0.7);
}

/* Estilos para o header */
.transparent-toolbar {
  --background: rgba(18, 18, 18, 0.75);
  --border-style: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Background gradiente */
.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  z-index: -1;
}
